@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Inter&family=Mada&family=Poppins&family=Roboto&family=Rubik&display=swap");
/* @import url('https://fonts.cdnfonts.com/css/segoe-ui-4'); */

* {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  background-color: white;
  position: sticky;
  top: 0px;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.col-1-nav {
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.61);
  margin-inline: 15px;
}

.navbar-btns {
  color: #373737;
  font-size: 25px;
  font-weight: 100;
  text-decoration: none;
  font-family: Roboto;
}

.col-2-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-2-nav > a {
  /* padding: 10px; */
  margin-inline: 10px;
  color: #373737;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  padding: 10px;
}

.get-quote {
  width: 223px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 23.5px;
  background: #184655;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  border: none;
  margin-inline: 20px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background-image: linear-gradient(to right, #ebe6e9, #dbe9e3, #d5e5e9);
  margin: 30px;
  height: 742px;
}

.hero-text {
  margin-left: 0px;
}
.hero-text > h1 {
  color: #184655;
  font-family: Poppins;
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
  margin: 15px;
}

.tags {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 331px;
  margin-left: 20px;
}

.tags > p {
  color: #53748c;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  margin-right: 40px;
}

.input-div {
  overflow: hidden;
  border-radius: 19px;
  background-color: #fff;
  display: flex;
  width: 500px;
  margin: 20px;
}

#hero-input {
  border: none;
  padding: 20px 20px;
  flex: 2;
  color: #727272;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 118%;
  outline: none;
}

#hero-btn {
  flex: 1;
  background: #184655;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 118%;
  border: none;
  cursor: pointer;
}

.main-card {
  height: 462px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 25px 20px;
  background-image: linear-gradient(to right, #fdf8f1, #e7fcef);
  align-items: center;
}

.main-card-img {
  height: 100%;
}
.main-card-img > img {
  height: 100%;
  width: 35vw;
  border-radius: 15px;
  margin-right: 30px;
}

.mc-description-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 95%;
}

.mc-description-div > h1 {
  color: #404040;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
}

.author-and-date {
  display: flex;
  justify-content: space-between;
  color: rgba(111, 110, 110, 0.84);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.main-card-description {
  color: #464343;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.card-div {
  overflow: hidden;
  border-radius: 20px;
  background: linear-gradient(
    146deg,
    rgba(249, 247, 247, 0.1) 0%,
    rgba(249, 247, 247, 0.4) 100%
  );
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
  width: 431.532px;
  margin: 15px;
}

.card-img > img {
  width: 431.532px;
  height: 272.614px;
  border-radius: 20px;
}

.card-texts {
  padding: 20px;
}

.card-texts > h3 {
  color: #4a4848;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.author-and-date-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(111, 110, 110, 0.84);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-texts > p {
  color: #464343;
  text-align: justify;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.read-more {
  text-align: right;
  width: 100%;
  margin-top: 10px;
}

.read-more > a {
  color: #213949;
  font-family: Roboto;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.footer {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
  height: 707px;
  border-radius: 30px;
  background: linear-gradient(136deg, #f4f3f4, #dbe8e6);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
}

.download-heading {
  font-family: Roboto;
  font-size: 40px;
}

.application-name {
  font-family: Roboto;
  font-size: 57px;
  font-weight: 700;
}

.application-moto {
  font-family: Roboto;
  font-size: 40px;
}

.download-btn {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  border-radius: 23.5px;
  background: linear-gradient(122deg, #2c56aa 0%, #3bb08b 100%);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 5px 15px;
  margin-top: 70px;
}
