@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Inter&family=Mada&family=Poppins&family=Roboto&family=Rubik&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  background-color: white;
  position: sticky;
  top: 0px;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.col-1-nav {
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.61);
  margin-inline: 15px;
}

.navbar-btns {
  color: #373737;
  font-size: 25px;
  font-weight: 100;
  text-decoration: none;
  font-family: Roboto;
}

.col-2-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-2-nav > a {
  /* padding: 10px; */
  margin-inline: 10px;
  color: #373737;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  padding: 10px;
}

.get-quote {
  width: 223px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 23.5px;
  background: #184655;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  border: none;
  margin-inline: 20px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background-image: linear-gradient(to right, #ebe6e9, #dbe9e3, #d5e5e9);
  margin: 30px;
  height: 742px;
}

.hero-text {
  margin-left: 0px;
}
.hero-text > h1 {
  color: #184655;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  margin: 15px;
}

.tags {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 331px;
  margin-left: 20px;
}

.tags > p {
  color: #53748c;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  margin-right: 40px;
}

.input-div {
  overflow: hidden;
  border-radius: 19px;
  background-color: #fff;
  display: flex;
  width: 500px;
  margin: 20px;
}

#hero-input {
  border: none;
  padding: 20px 20px;
  flex: 2;
  color: #727272;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 118%;
  outline: none;
}

#hero-btn {
  flex: 1;
  background: #184655;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 118%;
  border: none;
  cursor: pointer;
}

.main-card {
  height: 462px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 25px 20px;
  background-image: linear-gradient(to right, #fdf8f1, #e7fcef);
  align-items: center;
}

.main-card-img {
  height: 100%;
}
.main-card-img > img {
  height: 95%;
  width: 40vw;
  border-radius: 15px;
  margin-right: 30px;
}

.mc-description-div {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 95%;
}

.mc-description-div > h1 {
  color: #404040;
  font-family: Roboto;
  font-size: 32px;
  font-weight:600;
}

.author-and-date {
  display: flex;
  justify-content: space-between;
  color: rgba(111, 110, 110, 0.84);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
}

.main-card-description{
color: #464343;
font-family: Roboto;
font-size: 26px;
font-weight: 400;
}


